<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>

<div class="field">
  <%= f.label :postal_code %>
  <%= f.text_field :postal_code %>
</div>

<div class="field">
  <%= f.label :address %>
  <%= f.text_field :address %>
</div>

<div class="field">
  <%= f.label :self_introduction %>
  <%= f.text_area :self_introduction %>
</div>

<div>
  <%= f.label :avatar %>
  <%= image_tag current_user.avatar.variant(resize: "200x200") if current_user.avatar.attached? %><br>
  <%= f.file_field :avatar %>
</div>
